name: Build and Release Rust Code
on:
  push:
    tags:
      - "*"

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Extract crate information
        id: extract_crate_information
        shell: bash
        run: |
          echo "PROJECT_NAME=$(sed -n 's/^name = "\(.*\)"/\1/p' Cargo.toml | head -n1)" >> $GITHUB_ENV
          echo "PROJECT_VERSION=$(sed -n 's/^version = "\(.*\)"/\1/p' Cargo.toml | head -n1)" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push Docker container
        env:
          DOCKER_BUILDKIT: 1
          DOCKER_PLATFORMS: linux/amd64,linux/arm64
        run: |
          # Install cross
          cargo install cross

          # Build for ARM64 and AMD64
          cross build --target=x86_64-unknown-linux-gnu --release
          cross build --target=aarch64-unknown-linux-gnu --release

          # Build Docker container
          docker buildx build \
            --platform $DOCKER_PLATFORMS \
            --tag ghcr.io/containeroo/renvsubst:latest \
            --tag ghcr.io/containeroo/renvsubst:${{ env.PROJECT_VERSION }} \
            --push .
